@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "DM Sans";
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-Thin.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 100;
        font-style: italic;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-ThinItalic.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-ExtraLight.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 200;
        font-style: italic;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-ExtraLightItalic.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-Regular.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 400;
        font-style: italic;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-Italic.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-Medium.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 500;
        font-style: italic;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-MediumItalic.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-Bold.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 700;
        font-style: italic;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-BoldItalic.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-Black.woff2');
    }

    @font-face {
        font-family: "DM Sans";
        font-weight: 900;
        font-style: italic;
        font-display: swap;
        src: url('../../public/fonts/DMSans/DMSans-BlackItalic.woff2');
    }

    @font-face {
        font-family: "Arizonia";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('../../public/fonts/Arizonia/Arizonia-Regular.ttf');
    }

    :root {
        font-family: 'DM Sans', sans-serif, system-ui;
        --topOffset: 0;
    }

    html {
        @apply text-font-0 bg-base-900;
    }

    body {
        scroll-behavior: smooth;
    }

    html,
    body,
    #__next {
        height: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply tracking-tight;
    }
}

@layer components {
    .radio-plus-track-progress-slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 5px;
        cursor: pointer;
        outline: none;
        background: #242424;
        border-radius: 15px;
    }

    .radio-plus-track-progress-slider:disabled {
        cursor: default;
    }

    .radio-plus-track-progress-slider:focus {
        outline: none;
    }

    .radio-plus-track-progress-slider::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    /* Thumb: webkit */
    .radio-plus-track-progress-slider::-webkit-slider-thumb {
        opacity: 0;
        transition: all .1s ease-out;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        cursor: pointer;
        background-color: #F70062;
        border-radius: 50px;
        border: none;
    }

    /* Thumb: Firefox */
    .radio-plus-track-progress-slider::-moz-range-thumb {
        opacity: 0;
        transition: opacity .1s ease-out;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        height: 15px;
        width: 15px;
        background-color: #F70062;
        border-radius: 50px;
        border: none;
    }

    /* Thumb: IE */
    .radio-plus-track-progress-slider::-ms-thumb {
        opacity: 0;
        transition: opacity .1s ease-out;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        border: none;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #F70062;
        cursor: pointer;
    }

    /* Hover, active & focus Thumb: Webkit */
    .radio-plus-track-progress-slider:enabled:hover::-moz-range-thumb {
        opacity: 1;
    }

    .radio-plus-track-progress-slider:enabled:hover::-webkit-slider-thumb {
        opacity: 1;
    }

    .radio-plus-track-progress-slider:enabled:hover::-ms-thumb {
        opacity: 1;
    }

    /** Add styling to the range track */
    .radio-plus-track-progress-slider::-webkit-slider-runnable-track {
        cursor: default;
    }

    .radio-plus-track-progress-slider::-moz-range-track {
        cursor: default;
    }

    .radio-plus-track-progress-slider::-ms-track {
        cursor: default;
    }
}
